<!DOCTYPE html>
<html>
<head>
    <title>Crash Heatmap</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
         #map {
             height: 100%;
         }
         /* Optional: Makes the sample page fill the window. */
         html, body {
             height: 100%;
             margin: 0;
             padding: 0;
         }
    </style>
    <script>

    $(function() {


   var people = [];

   $.getJSON('https://scidriver.herokuapp.com/static/latlongdata.json', function (data) {
       $.each(data.person, function(i, f) {
          var tblRow = "<tr>" + "<td>" + f.firstName + "</td>" +
           "<td>" + f.lastName + "</td>" + "<td>" + f.job + "</td>" + "<td>" + f.roll + "</td>" + "</tr>"
           $(tblRow).appendTo("#userdata tbody");
     });

   });

});
    </script>
</head>
<body>

    <div class="wrapper">
        <div class="profile">
            <table id="userdata" border="2">
                <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>City</th>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>

    <!--
        
        {% block content %}{% endblock %}-->
    <h1>Texas Crash Heatmap</h1>
    <p>This page shows the heatmap for a sample of Texas highway crashes for 2015 crash database. The heatmaps will be used in this project to show the clusters of similar crashes (or hotspots). </p>

    <div id="map"></div>
    <script>
        var a = $.getJSON("/latlongdata.json", a);
        
        document.write(a.latlon);

        var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: 31, lng: -98},
          mapTypeId: 'terrain'
        });



        eqfeed_callback(
[[	29.40039501	,	-98.53053921	],
[	32.8036943	,	-98.08794224	],
[	30.78142357	,	-94.41526794	],
[	30.77521626	,	-94.42949304	],
[	30.76702864	,	-94.41515964	],
[	30.77439512	,	-94.41490525	],
[	30.76928472	,	-94.41492335	],
[	32.63319645	,	-96.83694983	],
[	33.18508097	,	-96.63964423	]]

            )


      }

      function eqfeed_callback(results) {
        var heatmapData = [];
        for (var i = 0; i < results.length; i++) {
          var coords = results[i];
          var latLng = new google.maps.LatLng(coords[0], coords[1]);
          heatmapData.push(latLng);
        }
        var heatmap = new google.maps.visualization.HeatmapLayer({
          data: heatmapData,
          dissipating: false,
          radius: 1,
          map: map
        });
      }
    </script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_4Q-IAnHrf2Vy4p78pw0PbobJNP61JE4&libraries=visualization&callback=initMap">
    </script>
</body>
</html>
