{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div>
    <h1>Sci-Driver</h1>
    <p>Help Drivers with Safety Tips</p>

    <form oninput="x.value = myfun(age.value)">
        <script>
        function myfun(a) {
            return (5) + (a);
        }
        </script>
        Vehicle Type:<br>
        <input type="text" name="UTC" value="" id="utc"><br>
        Driver Age:<br>
        <input type="number" name="age" value="" id="age"><br><br>
        <output name="x" for="age"></output>
    </form>

    <form oninput="x.value=parseInt(a.value)+parseInt(b.value)">
        0
        <input type="number" id="a" value="50">100
        +<input type="number" id="b" value="50">
        =<output name="x" for="a b"></output>
    </form>

    <h2>First Results</h2>
    <img src="{% static 'plot.png'%}" alt="plot1" style="width:800px;height:600px;">
    <p id="demo"></p>

</div>
{% endblock %}
